<li><a href="/categorias/1">Android</a></li><li><a href="/categorias/7">Apple</a></li><li><a href="/categorias/5">Geladeira</a></li><li><a href="/categorias/8">Motorola</a></li><li><a href="/categorias/4">Samsung</a></li><li><a href="/categorias/6">Ventilador de Mesa</a></li>